@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inconsolata', monospace;
}

body {
    background-color: black;
}

header {
    background-color: rgb(13, 13, 36);
    border-bottom: red 50px;
    padding: 10px;
}

header > h1 {
    color: white;
    display: inline-block;
}

header i {
    color: white;
    left: 85%;
    position: relative;
}

.blink {
    animation: blink-animation 0.7s infinite;
}

@keyframes blink-animation {
    from {
        color: transparent;
    } to {
        color: white;
    }
}